body{
    background: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
}

.contenedor {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

header{
    height: 100vh;
    background-color: black;
    background-size: cover;
}

#contenedor-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

header .logo {
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 30px;
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    color: rgb(255, 147, 6);
    margin-top: 10px;
    font-size: 18px;
}

.contenedor-titulo{
    display: flex;  
    justify-content: center;
    margin: -17vh 0;
}

button.ml-subscribe-button {
    border: none;
    color: black;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(255, 147, 6);
    font-family: 'Anton', sans-serif;
    margin-left: 73px;
    cursor: pointer;
  }

titulo ul li{
    list-style: none;
}