body{
    background: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
}

.contenedor {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

header{
    height: 150vh;
    background-color: black;
    background-size: cover;
}

#contenedor-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

header .logo {
    color: rgb(255, 147, 6);
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 30px;
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    color: rgb(255, 147, 6);
    margin-top: 10px;
    font-size: 18px;
}

.contenedor-titulo{
    display: flex;  
    justify-content: center;
    margin: -10vh 0;
}

.contenedor-titulo btn{
    background: #5cb8ff;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 14px 24px;
}

titulo ul li{
    list-style: none;
}