header{
    height: 100vh;
    background-color: black;
}

body{
    background: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

h2{
    padding: 0px 10px 0px;
    color: black;
    line-height: 44px;
    font-size: 40px;
}

button.menu-button, #sobre-nosotros a, #contacto input[type="submit"]{
    border: none;
    color: black;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(255, 147, 6);
    font-family: 'Anton', sans-serif;
    cursor: pointer;
  }

.contenedor {
    width: 100%;
    max-width: 1300px;
}

#contenedor-menu .home_logo {
    width: 75px;
    height: 94px;
    padding: 3px 5px;
}

#contenedor-titulo .logo{
    display: block;
    margin: 0 auto;
}

nav ul li{
    display: none;
}

  button.menu-button{
    display: block;
    margin: 0 auto;
  }
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Sobre nosotros section*/
#sobre-nosotros .contenedor-sobrenosotros{
    width: 100;
}

#sobre-nosotros .texto p{
    padding: 0px 30px 20px;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

#sobre-nosotros a {
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;
}

#sobre-nosotros .hamburguesa1{
    width: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/*Our menu section*/

.our-menu{
    display: block;
    width: 100%;
}

.our-menu p{
    color: black;
}

.menu1img {
    width: 100%;
    height: 95vh;
}

.menu2img {
    width: 100%;
    height: 95vh;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
#contacto {
    background-color: rgb(255, 147, 6);
    color: white;
    height: 80vh;
    width: 100%;
    display: block;
    justify-content: space-between;
}

h4 {
    padding: 10px 15px 10px;
    line-height: 44px;
    font-size: 20px;
}

li {
    list-style: none;
}

.social {
}

.social-link {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    display: inline-block;
    justify-content: space-around;
}

.social-link.whatsapp{
    background-image: url('imagenes/whatsapp.svg');
}

.social-link.facebook{
    background-image: url('imagenes/facebook.svg');
}

.social-link.instagram{
    background-image: url('imagenes/instagram.svg');
}

@media only screen and (min-width: 768px){
    nav ul li{
        display: inline-block;
        justify-content: space-evenly;
        margin-right: 50px;
        color: rgb(255, 147, 6);
        margin-top: 10px;
        font-size: 18px;
    }
        .logo {
            display: block;
            margin: 0 auto;
        }
    
        #contenedor-menu .home_logo {
            width: 150px;
            height: 187.5px;
        }
    
        #contenedor-menu {
            display: flex;
            justify-content: space-evenly;
            margin: auto;
        } 
        #sobre-nosotros .contenedor-sobrenosotros{
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            padding-bottom: 30px;
        }
        #sobre-nosotros .hamburguesa1{
            width: 100%;
        }
    }